@charset "UTF-8";


body {
	background: #ddd;
}

p {
	margin: 0;
}

body>.contents {
	max-width: 800px;
	margin: 0 auto;
	background: #fff;
}

body #intro {
	position: relative;
}

body #intro>div {
    position: absolute;
    bottom: 40%;
    text-align: center;
    width: 100%;
}


body #intro>div>.intro_date>p {
    color: #c09a59;
    font-size: 11.5vw;		
}

body #intro>div>.intro_date>p.left {
    padding-right:9vw;
    padding-bottom:2vw;
}

body #intro>div>.intro_date>p.right {
    padding-left:13.8vw;
    padding-bottom:2.5vw;
}

body #intro>div .main-txt>p {
    color: #c09a59;
    font-size:3.5vw;
}

body #invitation_wrap{
	position:relative;
	width:100%;	
	background-color:#fdfaf9;
}

body #invitation_wrap .invitation_contents{
	width:100%;	
	padding-top:8.7vw;
}

body #invitation_wrap .invitation_contents .decoration{
	background-image:url(/img/test/decoration.png);
	width:18vw;
	height:8vw;
	background-size:contain;
	margin:0 auto;
	background-repeat:no-repeat;
}
body #invitation_wrap .invitation_contents .invitation_title{
	font-size:6.2vw;
	color: #c09a59;	
	text-align:center;
}

body #invitation_wrap .contents1{
	width:100%;
}

body #invitation_wrap .contents1 .in_contents{
	font-size:2.3vw;
	color:#444;
	line-height:45px;
	text-align:center;	
	padding-top:120px;
}

body #invitation_wrap .contents2{
	position:absolute;
	width:100%;
	padding-top:16vw;
}

body #invitation_wrap .contents2 .name{
	font-size:2.3vw;
	line-height: 4.2vw;
	color:#444;
	text-align:center;
}

body #invitation_wrap .contents2 .name span{
	font-size:1.8vw;
}

body #invitation_wrap .call{
	width:100%;
	padding-top:35%;
}

body #invitation_wrap .call .call_wrap{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}

body #photo_wrap{
	position:relative;
	width:100%;	
}

body #photo_wrap .photo_contents{
	position:absolute;
	padding-top:7.5vw;
	width:100%;	
}

body #photo_wrap .photo_contents .decoration2{
	background-image:url(/img/test/decoration.png);
	width: 18vw;
    height: 8vw;
	background-size:contain;
	margin:0 auto;
	background-repeat:no-repeat;
}
body #photo_wrap .photo_contents .photo_title{
	font-size:6.2vw;
	color: #c09a59;	
	text-align:center;
}

body #photo_wrap .box{
	padding:25vw 7.5vw 0 7.5vw;
}

body #photo_wrap .photo7_wrap{
	position:relative;
	width:100%;	
}

body #photo_wrap .photo7_wrap>iframe.youtube{
	width:100%;
	padding:7.28vw;
	height:64vw;
}
#photo_wrap .form-horizontal .form-group[data-gap='0'] {
	margin-left: -0px !important;
    margin-right: -0px !important;	
}

body #location_wrap{
	position:relative;
	width:100%;	
	background:#fdfaf9;
}

body #location_wrap .location_contents{
	position:absolute;
	padding-top:7.5vw;
	width:100%;	
}

body #location_wrap .location_contents .decoration3{
	background-image:url(/img/test/decoration.png);
	width:18vw;
	height:8vw;
	background-size:contain;
	margin:0 auto;
	background-repeat:no-repeat;
}
body #location_wrap .location_contents .location_title{
	font-size:6.2vw;
	color: #c09a59;	
	text-align:center;
}

body #location_wrap .date{
	position:absolute;
	width:100%;
}

body #location_wrap .date p{
	text-align:center;
	font-size:3vw;
	color:#444;
	padding-top:31.2vw;
	line-height:5vw;
}

body #location_wrap .map{
	position:relative;
	width:100%;
	padding:50vw 7.4vw 0 7.4vw;
}
body #location_wrap .map .map_wrap{
	width:100%;
}

body #location_wrap .traffic .traffic_wrap{
	padding:7vw 7.2vw;
}

body #location_wrap .traffic{
	position:relative;
	width:100%;
}

body #location_wrap .traffic .bus{
	font-size:2.1vw;
}


body #location_wrap .traffic .bus_title{
	font-size:2.5vw;
	color:#444;
	border-bottom:1px solid #f3e3d9; 
	padding-bottom:1.2vw;
}

body #location_wrap .traffic .bus .first{
	padding-top:8px;
}

body #location_wrap .traffic .bus .p{
	line-height:22px;
}

body #location_wrap .traffic .subway{
	font-size:2.1vw;
	color:#444;
	padding-top:3.8vw;
}

body #location_wrap .traffic .subway p{
	padding-top:8px;
}

body #location_wrap .traffic .subway .subway_title{
	font-size:2.5vw;
	color:#444;
	border-bottom:1px solid #f3e3d9; 
	padding-bottom:1.2vw;
}

body #location_wrap .traffic .car{
	font-size:2.1vw;
	color:#444;
	padding-top:3.8vw;
}

body #location_wrap .traffic .car_title{
	font-size:2.5vw;
	color:#444;
	border-bottom:1px solid #f3e3d9; 
	padding-bottom:1.2vw;
}

body #location_wrap .traffic .car p{
	padding-top:1.12vw;
}

body #message_wrap{
	position:relative;
	width:100%;	
	padding-top:12vw;
	padding-bottom:20vw;
}

body #message_wrap .message_contents{
	position:absolute;
	top:60px;
	width:100%;	
}

body #message_wrap .message_contents .message_title .decoration4{
	background-image:url(/img/test/decoration.png);
	width:18vw;
	height:8vw;
	background-size:contain;
	margin:0 auto;
	background-repeat:no-repeat;
}

body #message_wrap .message_contents .message_title{
	font-size:6.2vw;
	color: #c09a59;	
	text-align:center;
}

body #message_wrap .message_contents2{
	width:100%;
	padding-top:12.6vw;
}

body #message_wrap .message_contents2 p{
	text-align:center;
	font-size:2.88vw;
	color:#444;
	line-height:4vw;
	padding-top:3.8vw;
}

body #message_wrap .message_contents3{
	margin:40px 50px 20px 50px;
	border-top:2px solid #c4bab8;
	border-bottom:2px solid #c4bab8;
	padding:2.5vw 0 1.25vw 0;
}

body #message_wrap .message_contents3 .form_box{
	padding:0 2.2vw;
}

body #message_wrap .message_contents3 .form_box p{
	border-bottom:2px solid #e4e1e1;
	padding:3.32vw 0 1.2vw 0;
	font-size:2.38vw;
}

body #message_wrap .message_contents3 .form_box>button{
	display:block;
	width:100%;
	margin-top:30px;
	padding:10px;
	font-size:2.6vw;
	background:#f7ece5;
	border:1px solid #eddee0;
	color:#444;
	padding:11px 0 10px 0;
}

body #message_wrap .message_contents3 .comments_wrap{
	padding:0 2.2vw;
}

body #message_wrap .message_contents3 .comments_box{
	margin-top:1.6vw;
	border:1px solid #eddee0;
	background:#fff;
	padding:1.3vw;
	position:relative;
	color:#444;
	font-size:2vw;
}

body #message_wrap .message_contents3 .comments_box .full_name{
	font-size:2.1vw;
}
body #message_wrap .message_contents3 .comments_wrap .date{
	position:absolute;
	top:10px;
	right:10px;
}
body #message_wrap .message_contents3 .comments_wrap .date .ex{
	position:relative;
	top:30px;
}

body #message_wrap .sns{
	position:relative;
	width:100%;
	padding-bottom:3vw;
	text-align:center;
}

body #message_wrap .sns .sns_wrap .facebook{
	top:0;
	display:inline-block;
	background:url(/img/test/facebook.png);
	width:8.4vw;
	height:8.4vw;
	background-size:contain;
	background-repeat:no-repeat;
}

body #message_wrap .sns .sns_wrap .facebook:after{
	display:block;
	height:4.3vw;
	position:absolute;
	content:'';
	border:2px solid #d5c7c7;
	margin-left:15vw;
	margin-top:2vw;
}

body #message_wrap .sns .sns_wrap .insta:after{
	display:block;
	height:4.3vw;
	position:absolute;
	content:'';
	border:2px solid #d5c7c7;
	margin-left:15vw;
	margin-top:2vw;
}

body #message_wrap .sns .insta{
	top:0;
	display:inline-block;
	background:url(/img/test/insta.png);
	width:8.4vw;
	height:8.4vw;
	background-size:contain;
	background-repeat:no-repeat;
}

body #message_wrap .sns .kakao{
	top:0;
	display:inline-block;
	background:url(/img/test/kakao.png);
	width:8.4vw;
	height:8.4vw;
	background-size:contain;
	background-repeat:no-repeat;
}

body #message_wrap .sns .sns_wrap>a{
	margin-left:6.8vw;
	margin-right:6.8vw;
}

body #invitation_wrap .call .call_wrap>div{
	width:22%;
}
body #invitation_wrap .call .call_wrap .man_call{
	display:inline-block;
}

body #invitation_wrap .call .call_wrap .women_call{
	display:inline-block;
}

body #invitation_wrap .call .call_wrap img {
	width: 100%;
}

body #invitation_wrap .contents1 .in_contents {
   color:#444;
   line-height:6vw;
   text-align:center;
   padding-top:15vw;
}


@media(min-width: 800px) {

	body #intro>div>p {
    	font-size: 100px;	
	}
	
	body #intro>div>p.left {
		padding-right: 80px;
	}
	
	body #intro>div>p.middle {
		padding-right: -10px;
	}
	
	body #intro>div>p.right {
    	padding-left: 80px;	
	}
	
	body #intro>div .main-txt>p {
		font-size:28px;
	}
	
	body .invitation_wrap .contents1{
		font-size:20px;
	}	
	
	body .invitation_wrap .contents2{
		font-size:20px;
	}	
	
	body #invitation_wrap .invitation_contents .invitation_title{
		font-size:50px;
	}
	
	body #invitation_wrap .contents1 .in_contents{
		font-size:20px;
		line-height:45px;
		padding-top:120px;
	}
	
	body #invitation_wrap .contents2 .name{
		font-size:20px;
	}
	
	body #invitation_wrap .contents2 .name span{
		font-size:16px;
	}
	
	body #invitation_wrap .call .women_call p{
		font-size:18px;
	}
	
	body #invitation_wrap .call .man_call p{
		font-size:18px;
	}
	
	body #photo_wrap .photo_contents .photo_title{
		font-size:50px;
	}
	
	body #location_wrap .traffic .bus_title{
		font-size:24px;
	}
	body #location_wrap .traffic .bus{
		font-size:20px;
	}
	body #location_wrap .traffic .subway .subway_title{
		font-size:24px;
	}
	body #location_wrap .traffic .subway{
		font-size:20px;
	}
	body #location_wrap .traffic .car .car_title{
		font-size:24px;
	}
	body #location_wrap .traffic .car p{
		font-size:20px;
	}

	body #message_wrap .message_contents3 .form_box p{
		font-size:20px;
	}
	body #message_wrap .message_contents3 .form_box>button{
		font-size:22px;
		padding:11px 0 10px 0;
	}
	body #message_wrap .message_contents3 .comments_box .full_name{
		font-size:18px;
	}
	body #photo_wrap .photo_contents .decoration{
		width:136px;
		height:43px;
	}
	body #photo_wrap .photo_contents .decoration2{
		width:136px;
		height:43px;
	}
	body #location_wrap .location_contents .decoration3{
		width:136px;
		height:43px;
	}
	body #location_wrap .location_contents .decoration4{
		width:136px;
		height:43px;
	}
	body #message_wrap .message_contents .message_title .decoration4{
		width:136px;
		height:43px;
	}
	body #invitation_wrap .contents2{
		padding-top:130px;
	}
	body #invitation_wrap .contents2 .name{
		line-height:35px;
	}
	body #location_wrap .traffic .traffic_wrap{
		padding:50px 60px;
	}
	body #location_wrap .map{
		padding:400px 60px 0 60px;
	}
	body #location_wrap .date p{
		padding-top:250px;
		font-size:25px;
		line-height:38px;
	}
	body #message_wrap .sns{
		padding-bottom:10px;
	}
	body #invitation_wrap .invitation_contents{
		padding-top:70px;
	}
	body #invitation_wrap .call .call_wrap{
		padding-bottom:
		padding-top:
	}
	body #photo_wrap .photo7_wrap>iframe.youtube{
		height:500px;
		padding:60px;
	}
	body #photo_wrap .box{
		padding:200px 60px 0 60px;
	}
	body #location_wrap .location_contents{
		padding-top:60px;
	}
	body #photo_wrap .photo_contents{
		padding-top:60px;
	}
	body #message_wrap .message_contents3 .comments_box{
		font-size:16px;
		padding:12px;
		margin-top: 14px;
	}
	body #invitation_wrap .invitation_contents .decoration{
		width:136px;
		height:43px;
	}
	body #message_wrap .message_contents3{
		padding:20px 0 10px 0;
	}
	body #message_wrap .sns .sns_wrap .facebook{
		width:68px;
		height:68px;
	}
	body #message_wrap .sns .insta{
		width:68px;
		height:68px;
	}
	body #message_wrap .sns .kakao{
		width:68px;
		height:68px;
	}	
	body #message_wrap .sns .sns_wrap>a{
		margin-left:55px;
		margin-right:55px
	}
	body #message_wrap .sns .sns_wrap .facebook:after{
		height:34px;
		margin-left:120px;
		margin-top:16px;
	}
	body #message_wrap .sns .sns_wrap .insta:after{
		height:34px;
		margin-left:120px;
		margin-top:16px;
	}
	body #message_wrap .message_contents .decoration4{
		width:136px;
		height:43px;
	}
	body #location_wrap .traffic .bus_title{
		padding-bottom:10px;
	}
	body #location_wrap .traffic .subway{
		padding-top:30px;
	}
	body #location_wrap .traffic .subway .subway_title{
		padding-bottom:10px;
	}
	body #location_wrap .traffic .car{
		padding-top:30px;
	}
	body #location_wrap .traffic .car_title{
		padding-bottom:10px;
	}
	body #message_wrap .message_contents2{
		padding-top:100px;
	}
	body #message_wrap{
		padding-top:98px;
		padding-bottom:100px;
	}
	body #message_wrap .message_contents3 .comments_wrap{
		padding:0 20px;
	}
	
	body #message_wrap .message_contents3 .form_box{
		padding:0 20px;
	}
	body #message_wrap .message_contents3 .comments_wrap .date .ex{
		top:3.6vw;
	}
	body #intro>div>.intro_date>p{
		font-size:84px;
		padding-right:60px;
	}
	body #location_wrap .location_contents .location_title{
		font-size:50px;
	}
	body #intro>div>.intro_date>p.left{
		padding-right:70px;
		padding-bottom:16px;
	}
	body #intro>div>.intro_date>p.right{
		padding-left:110px;
		padding-right:20px;
		padding-bottom:20px;
	}
	body #message_wrap .message_contents2{
		padding-top:60px;
	}
	body #message_wrap .message_contents .message_title{
		font-size:50px;
	}
	body #message_wrap .message_contents3 .form_box p{
		padding:30px 0 12px 0;
	}
	body #message_wrap .message_contents2 p{
		font-size:23px;
		line-height:33px;
		padding-top:30px;
	}	
}


