{% extends "shared/layout.default" %}

{% block content %}

<p class="main-copy">
	hello world!! 
	<b>{{ board.title }}</b>

</p>
<div class="thumb-box">
	
	<!-- 기본 -->
<!-- 	{{ row.id }} <!-- 일반 코드 작성 -->
	
	<!-- 기본 -->	
<!-- 	{% if(row.id == 1) %} --> <!-- 문법 작성 -->
<!-- 	{% else %} -->
<!-- 	{% endif %}  --><!-- 문법 끝날 때 항상 end 붙여서 끝내줘야 함 -->
	
<!-- 	{% if(row is empty) %} -->
<!-- 	{% endif %} -->
	
	<!-- for문 -->
<!-- 	{% for r in rows %}
		{{ loop.index }}
		{{ r }}
	{% endfor %}
 -->	
	<!-- set -->
<!-- 	{% set cnt = 'abc' %}
	{{ cnt }}
	
	pebble template
 -->	
</div>	
<div class="gradation">
	<span></span>
</div>
{% endblock %}
