{% extends "shared/layout.default" %}

{% block content %}

<p class="main-copy">
<script type="text/javascript" >

function backToList(obj){
   obj.action= "/details";
   obj.submit();
}

function fn_update(url, boardId){
	var form = document.querySelector("form");
	form.setAttribute("method", "POST");
	form.setAttribute("action", url);
	
	var articleNOInput = document.createElement("input");
	articleNOInput.setAttribute("type", "hidden");
	articleNOInput.setAttribute("name", "boardId");
	articleNOInput.setAttribute("value", boardId);
	
	form.appendChild(articleNOInput);
	document.body.appendChild(form);
	form.submit();
}


</script>

 <div class="thumb-box.positon" >


	<div align = "center" >
		<form action = "/details/{{boardId}}" method = "GET">

 			<table align = "center" border = 1px width = "700px">
			    <tr >
			   		<th>글번호</th>
			   			<td align ="left">&nbsp;{{board.boardId}}</td>
				</tr>
				<tr>
					<th>제목</th>
						<td>&nbsp;{{board.title}}</td>
				</tr>
				<tr>
					<th>작성일</th>
						<td>&nbsp;{{board.createdAt}}</td>
				</tr>
				<tr>
					<th>글내용</th>
						<td>
							<div>
								<input type= "text" style = "width: 645px; height: 300px; " value = "{{board.content}}"/>
							</div>
						</td>
				</tr>
				<tr>
					<th>비밀번호</th>
						<td>
							<input type = "text" name = "password" />
						</td>
				</tr>
			</table>
			<br>
			<input type = "button" value = "뒤로가기" onclick = "backToList(this.form)" />
			<input type = "button" value = "수정하기" onclick = "fn_update('/delete',{{ board.boardId }})"/>
			<input type = "submit" value = "삭제하기" />
		</form>
		

	</div>

</div>
<div class="gradation">
	<span></span>
</div>
{% endblock %}
	
	